[colors]
background = #282c34
foreground = #FAFAFA
secondary = #367bf0
cpu-color = #E5C07B
mem-color = #E06c75
update-color = #c678dd
cal-color = #61AFEF
bat-color = #98C379

[bar/mainbar]
monitor = ${env:MONITOR}
width = 100%
height = 20
fixed-center = false
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 2
padding-left = 0
padding-right = 0
module-margin-left = 1
module-margin-right = 1
font-0 = JetBrainsMono Nerd Font:size=8;1
font-1 = Noto Color Emoji:pixelsize=8;1:fontformat=truetype:scale=10:antialias=true;
modules-left = ewmh xwindow
modules-right = cmus cpu memory date hour battery pulseaudio power
tray-position = right
tray-padding = 2
tray-maxsize = 20
cursor-click = pointer
cursor-scroll = ns-resize
separator = "|"
separator-foreground = ${colors.foreground}

[module/xwindow]
type = internal/xwindow
label-maxlen = 30

[module/ewmh]
type = internal/xworkspaces
label-active = " %name% "
label-active-foreground = ${colors.foreground}
label-active-background = ${colors.background}
label-active-underline = ${colors.bat-color}
label-occupied = " %name% "
label-occupied-underline = ${colors.mem-color}
label-empty = " %name% "
label-empty-foreground = ${colors.foreground}

[module/cmus]
type = custom/script
exec-if = pgrep -x cmus
exec = ~/.config/leftwm/themes/epitaph/scripts/cmustatus
format =  <label>
label = %output%
interval = 0
format-foreground = ${colors.update-color}

[module/cpu]
type = internal/cpu
interval = 5
format-prefix = "龍 cpu: "
format-prefix-foreground = ${colors.cpu-color}
label = %percentage:2%%
label-foreground = ${colors.cpu-color}

[module/memory]
type = internal/memory
interval = 5
format-prefix = " mem: "
format-prefix-foreground = ${colors.mem-color}
label = %gb_used%
label-foreground = ${colors.mem-color}

[module/date]
type = internal/date
date = %d/%m/%Y (%H:%M)
format =  <label>
format-foreground = ${colors.cal-color}

[module/battery]
type = internal/battery
battery = BAT1
adapter = ACAD
full-at = 98

format-charging = <animation-charging> <label-charging>
label-charging =  %percentage%%
format-charging-foreground = ${colors.foreground}
format-charging-background = ${colors.background}

format-discharging = <ramp-capacity> <label-discharging>
label-discharging =  %percentage%%
format-discharging-foreground = ${colors.foreground}
format-discharging-background = ${colors.background}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.bat-color}
format-full-foreground = ${colors.update-color}
format-full-background = ${colors.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.bat-color}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = ${colors.bat-color}
animation-charging-framerate = 500

[module/pulseaudio]
type = internal/pulseaudio
format-volume = <ramp-volume> <label-volume>
label-volume = %percentage%%
label-volume-foreground = ${root.foreground}
ramp-volume-0 = 奄
ramp-volume-0-foreground = ${colors.bat-color}
ramp-volume-1 = 奔
ramp-volume-1-foreground = ${colors.cpu-color}
ramp-volume-2 = 墳
ramp-volume-2-foreground = ${colors.mem-color}
label-muted = 婢 muted
label-muted-foreground = ${colors.cal-color}

[module/power]
type = custom/text
content = 
click-left = ~/.config/leftwm/themes/epitaph/scripts/dmenu/power-menu

[settings]
screenchange-reload = true
